.cardStyle {
  margin-bottom: 20px;
}

.imgReservas {
  text-align: center;
  margin-bottom: 2%;
}

.seats {
  margin-left: 20em;
}

.Fields {
  margin-top: 3em;
  text-align: center;
  margin-bottom: 5em;
}

.TextReservas {
  margin-top: 15%;
}
